.wrapp {
   display: grid;
   width: 100%;
   grid-template-columns: repeat(7, 1fr);
   grid-template-rows: repeat(6, 1fr);
   background-color: #404040;
   grid-gap: 1px;
}

.day {
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   color: rgb(223, 221, 223);
   background-color: #2b282c;
   padding: 5px;
   min-width: 100px;
   min-height: 60px;
}

.week {
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   color: rgb(223, 221, 223);
   background-color: #2f2b2f;
   min-width: 100px;
   min-height: 60px;
   padding: 5px;
}

.numDay {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 10px;
   height: 10px;
   padding: 10px;
   border-radius: 20px;
   font-weight: bold;
   font-size: 12px;
}

.numToday {
   color: black;
   border: 1px solid red;
   background-color: red;
}