.wrapp {
   display: flex;
   width: 100%;
   justify-content: space-around;
   
}

.oneBTN {
   border: 1px solid #373136;
   border-radius: 5px;
}

.btn {
   color: rgb(155, 150, 155);
   padding: 3px 6px;
   border: none;
   border-radius: 5px;
   background-color: rgb(41, 36, 41);
   text-decoration: none;
   cursor: pointer;
}

.btn:hover {
   color: white;
   background-color: rgb(54, 49, 54);
}

.fourBTN {
   border-radius: 5px;
   border: 1px solid rgb(55, 49, 54);
}

.active {
   color: rgb(239, 239, 239);
   background-color: rgb(92, 87, 92);
}

.wrappINP {
   border-radius: 5px;
}

.searchINP {
   border-radius: 5px;
   color: rgb(182, 181, 182);
   border: 2px solid rgb(55, 49, 54);
   background-color: rgb(41, 36, 41);
   outline: none;
   text-decoration: none;
}